html{
    font-size: 62.25%;
}

body{

    font-size: 2.6rem;    
    font-family: Arial;
    margin: 0 auto;
    margin-top: 20vh;
    width:60vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 20px;
}

header{
    display:flex;
    flex-direction:column;
    align-items:center;
}
main{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 20px;
}

.main__input{
    width: 30vw;
    height: 5vh;
    font-size: 2.6rem;
}
.main__input:focus{
    outline: none;
    border: 1px solid red;

}
.main__btn{
    height: 40px;
    width: 20vw;
    color:white;
    background-color:#007BFF;
    font-size: 2rem;    

}
.main__btn:hover{
    background-color: #0056b3;
}